# **LOOPING STATEMENTS EXERCISE**

### 1. Print -10 to -1 using for loop

In [5]:
for i in range(-10, 0):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

### 2. Using while loop print numbers 1 to 10

In [1]:
val = 0
while(val <= 10):
    print(val)
    val += 1

0
1
2
3
4
5
6
7
8
9
10

### 3. Using for loop print first ten even numbers

In [3]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

### 4. Using while loop generate the table of 5

In [4]:
val = 1
while(val <= 10):
    print("5 *", val, "= ", 5 * val)
    val += 1

5 * 1 =  5
5 * 2 =  10
5 * 3 =  15
5 * 4 =  20
5 * 5 =  25
5 * 6 =  30
5 * 7 =  35
5 * 8 =  40
5 * 9 =  45
5 * 10 =  50

### 5. Using for loop generate the table of 8

In [6]:
for i in range(1, 11):
    print("8 *", i, "= ", 8 * i)

8 * 1 =  8
8 * 2 =  16
8 * 3 =  24
8 * 4 =  32
8 * 5 =  40
8 * 6 =  48
8 * 7 =  56
8 * 8 =  64
8 * 9 =  72
8 * 10 =  80

### 6. For numbers 1 to 100, if a number is divisible by 3, then print Fizz.
### If a number is divisible by 5, then print Buzz.
### If a number is divisible by 3 and 5 both, then print FizzBuzz
### If a number is neither divisible by 3 or 5, just print the number.

Hint: use range(1,101) function  to generate numbers from 1 to 100

In [7]:
for i in range(1, 101):
    if i % 3 == 0:
        print("Fizz")
    elif i % 5 == 0:
        print("Buzz")
    elif i % 3 == 0 and i % 5 == 0:
        print("FizzBuzz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
Fizz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
Fizz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
Fizz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
Fizz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
Fizz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
Fizz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

### 7.  Using the range function find the sum of all numbers from 1 to 100.
    For the numbers in the range (1,100):1+2+3+4+5......+100 = 5050

In [13]:
total = 0
for i in range(0, 100, 1):
    i += i
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150
152
154
156
158
160
162
164
166
168
170
172
174
176
178
180
182
184
186
188
190
192
194
196
198

### 8. Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 202 and 320 (both included).

In [15]:
for i in range(202, 321):
    if i % 7 == 0 and i % 5 != 0:
        print(i)

203
217
224
231
238
252
259
266
273
287
294
301
308

### 9. Python Program to count the number of vowels in a string.
st = "Data Science"

Output: No of vowels = 5

In [18]:
count = 0
vowels = ['a', 'e', 'i', 'o', 'u']
st = "Data Science"
for i in vowels:
    for j in st:
        if i == j:
            count += 1
count

5

### 10. Print Data Science 5 times using for loop

In [19]:
data = "Data Science"

for i in range(1, 6):
    print(data)

Data Science
Data Science
Data Science
Data Science
Data Science